<div class="form">

<form id="shell">

<p><input type="text" id="url" placeholder="{"URL"}" /></p>

<p><select id="method">
	<option value="get">GET</option>
	<option value="head">HEAD</option>
	<option value="post">POST</option>
	<option value="put">PUT</option>
	<option value="patch">PATCH</option>
	<option value="delete">DELETE</option>
</select></p>

<div id="post-options">
	<a href="#" id="add-param">{"Add param"}</a> &nbsp;|&nbsp;
	<a href="#" id="set-body">{"Set body"}</a><br />
	<div id="params">
		<p>
			<input type="text" class="param-name" placeholder="name" />
			<input type="text" class="param-value" placeholder="value" />
			<a href="#" class="delete-row" onclick="return shell.delete_row (this)">x</a>
		</p>
	</div>
	<textarea id="post-body"></textarea>
</div>

<div id="header-list">
	<a href="#" id="add-header">{"Add header"}</a>
	<div id="headers">
	</div>
</div>

<p>
	<input type="submit" value="{"Send"}" />
	&nbsp;
	<a href="#" id="clear">{"Clear"}</a>
</p>

</form>

<h3 id="response">Response</h3>

<pre id="response-headers">
</pre>

<pre id="response-body"></pre>

</div>