<div class="form">

<form id="shell">

<p><input type="text" id="url" placeholder="{"URL"}" /></p>

<p><select id="method">
	<option value="get">GET</option>
	<option value="head">HEAD</option>
	<option value="post">POST</option>
	<option value="put">PUT</option>
	<option value="patch">PATCH</option>
	<option value="delete">DELETE</option>
</select></p>

<p><input type="submit" value="{"Send"}" /></p>

</form>

<h3>Response</h3>

<pre id="response-headers">
</pre>

<pre id="response-body"></pre>

</div>