<div class="form">
<form id="shell">

<p><input type="text" id="url" placeholder="{"URL"}" /></p>

<p><select id="method">
	<option value="get">GET</option>
	<option value="get">HEAD</option>
	<option value="get">POST</option>
	<option value="get">PUT</option>
	<option value="get">DELETE</option>
	<option value="get">TRACE</option>
	<option value="get">OPTIONS</option>
</select></p>

<p><input type="submit" value="{"Send"}" /></p>

</form>

<div id="headers"></div>

<div id="body"></div>

</div>